In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [3]:
regiment=pd.DataFrame(raw_data)
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

In [4]:
mean_preTestScore_by_regiment = regiment.groupby('regiment')['preTestScore'].mean()
mean_preTestScore_by_regiment

regiment
Dragoons      15.50
Nighthawks    15.25
Scouts         2.50
Name: preTestScore, dtype: float64

In [5]:
stats_by_company = regiment.groupby('company')['preTestScore', 'postTestScore'].describe()
print(stats_by_company)

        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

In [6]:
mean_preTestScore_by_company = regiment.groupby('company')['preTestScore'].mean()
print(mean_preTestScore_by_company)

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

In [7]:
mean_preTestScore_by_regiment_company = regiment.groupby(['regiment', 'company'])['preTestScore'].mean()
print(mean_preTestScore_by_regiment_company)

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

In [8]:
mean_postTestScore_by_regiment_company = regiment.groupby(['regiment', 'company'])['postTestScore'].mean()
print(mean_postTestScore_by_regiment_company)

regiment    company
Dragoons    1st        47.5
            2nd        75.5
Nighthawks  1st        59.5
            2nd        59.5
Scouts      1st        66.0
            2nd        66.0
Name: postTestScore, dtype: float64

In [9]:
grouped_data = regiment.groupby(['regiment', 'company'])

In [10]:
mean_values = grouped_data.mean()
print(mean_values)

                    preTestScore  postTestScore
regiment   company
Dragoons   1st               3.5           47.5
           2nd              27.5           75.5
Nighthawks 1st              14.0           59.5
           2nd              16.5           59.5
Scouts     1st               2.5           66.0
           2nd               2.5           66.0

In [13]:
num_unique_regiment = regiment['regiment'].nunique()
num_unique_company = regiment['company'].nunique()

In [14]:
print("No. of unique observations in Regiment:", num_unique_regiment)
print("No. of unique observations in Company:", num_unique_company)

No. of unique observations in Regiment: 3
No. of unique observations in Company: 2